body {
    background: rgb(10, 10, 10);
    color: white;
}

header {
    background: rebeccapurple;
    position: fixed;
    width: 100%;
}

footer {
    margin-top: 2rem;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

.search-container {
    padding: 1rem 1rem;
}

.main-container {
    padding-top: 6rem;
}